@import url(http://fonts.googleapis.com/css?family=Raleway);

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  color: #7F7F7F;
  background-color: #F5F5F5;
  margin: 0px;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #FFF;
}

h1,h2,h3,h4 {
  text-align: center;
}

img {
  max-width: 100%;
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  margin: 0;
  overflow-y: hidden;
  max-height: 100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.primary-logo {
  padding: 5px 0 0 10px;
}

.main-header {
  margin: 8em auto;
  text-align: center;
  width: 250px;
  color: #FFF;
}

.mobile-nav {
  display: none;
}

.home-nav {
  position: absolute;
  bottom: auto;
  width: 100%;
  text-align: center;
  transition: all 1s ease;
  margin-top: -25px;
}

.home-nav ul {
  list-style: none;
  padding: 0;
}

.home-nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px;
  position: relative;
}

.home-nav a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.45);
}

.home-nav a:hover {
  color: #FFF;
  transition: color 0.75s ease 0s;
}

.nav-dropdown {
     display: none;
}

a.current {
  color: #FFF;
}

.slider {
  overflow-y: auto;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 0;
}

.compressed {
  max-height: 80px;
}

.group-host-map {
  display: none;
}

.host-profile {
  border-bottom: 1px solid #DCE0E0;
}

.rounded {
  border-radius: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
}

.content-wrapper {
  margin: 0 auto;
  width: 90%;
  color: #000;
  padding-bottom: 20px;
}

/*Media Queries*/
@media all and (max-width: 450px) {
  .mobile-nav {
    display: block;
    z-index: 999;
    padding: 5px;
    float: right;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin: 10px 10px 0 0;
  }

  .mobile-nav:after {
    content: "⌵";
  }

  .hidden {
    display: none;
  }
}

@media all and (max-width: 260px) {
  .compressed {
    max-height: 100px;
  }
}

@media all and (min-width: 451px) {
  .home-nav {
    margin-top: -55px;
  }

  .compressed {
    max-height: 60px;
  }
}

@media all and (min-width: 930px) {
  li:hover .nav-dropdown { /*Only shows the dropdown nav menu in a tablet or desktop screen*/
     display: block;
     position: absolute;
     top: 36px;
     left: -23px;
     height: auto;
   }

  .group-host-map {
    display: block;
  }
}
