@import url(http://fonts.googleapis.com/css?family=Raleway);
@font-face {
    font-family: 'polaris';
    src: url('../fonts/Polaris.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;

}

h1, h2, h3, h4 {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

section {
  height: 300px;
}

main {
  height: 100%;
}

footer {
  text-align: center;
  background-color: #333;
  display: none;
}

.l_main_header {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1030;
  margin-bottom: 0px;
}

header {
  background-color: #333;
}

/* section.listing {
  height: 30%;
} */

nav {
  padding: 20px;
  color: #fff;
  text-align: center;
}

nav ul {
  display: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

nav ul.expanded {
  display: block;
}

nav li a {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #666;
  font-size: 1.2em;
  color: #CCC;
  text-decoration: none;
}

nav li a:hover {
  color: #FFF;
  transition: color 0.75s ease 0s;
}

.menu_button {
  display: block;
  text-align: right;
  color: #CCC;
  text-decoration: none;
  cursor: pointer;
}

.menu_button > span {
  padding: 5px 10px;
  border: 1px solid #FFF;
  border-radius: 5px;
  width: 20px;
}

.menu_button > span:hover {
  color: #888;
  text-decoration: none;
  transition: color 0.75s ease 0s;
  background: #DDD;
  border-color: #DDD;
}

.primary_header {
  position: relative;
}

.primary_header {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../img/fjord.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../img/fjord.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../img/fjord.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /*CSS alternative to a JS parallax background, helps scoll performance of the site*/
  margin-top: -20px;
}

.small {
  display: block;
  margin: 0 auto;
}

.large {
  display: none;
}

.primary_title {
  width: 99%;
  margin: auto;
  position: absolute;
  left: 0px; bottom: 7px; right: 0px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: 'polaris';
  color: #FFF;
  letter-spacing: 0.3em;
  text-align: center;
  transition: all 0.5s ease;
}

.primary_title h1 {
  transform: scale(1.3,4);
  max-width: 250px;
  margin: auto;
}

.title_small {
  font-size: 0.5em;
  position: relative;
  top: -2px;
}

.host_listing {
  display: block;
  list-style: none;
  padding: 0;
}

.listing_row a {
  text-decoration: none;
  color: inherit;
}

.map_wrapper {
  height: 300px;
}

.map_wrapper img { /*this is required to override img max-width of 100% because it messes up the google maps and looks broken*/
  max-width: none;
}

@media all and (min-width: 400px) {
  section {
    height: 400px;
  }

  .primary_title {
    font-size: 1em;
    position: absolute;
    left: 0px; bottom: 9px; right: 0px;
  }

  .primary_title h1 {
    max-width: 500px;
  }
}

@media all and (min-width: 590px) {
  section {
    height: 550px;
  }

  .small {
    display: none;
  }

  .large {
    display: block;
    margin: 0 auto;
  }

  .primary_title {
    width: 99%;
    height: 20%;
    margin: auto;
    position: absolute;
    left: 0px; bottom: -55px; right: 0px;
    font-size: 1.5em;
  }

  .title_small {
    font-size: 0.5em;
    position: relative;
    top: -8px;
  }

}

@media all and (min-width: 601px) {
  .menu_button {
    display: none;
  }

  nav ul {
    display: block;
  }

  nav li, .footer_nav li {
    display: inline-block;
    padding: 0 10px 0 0;
  }

  nav li a, .footer_nav li a {
    border: none;
  }

  .nav_dropdown {
    display: none;
  }

  li:hover .nav_dropdown {
    display: block;
  }
  
  .has_dropdown {
    position: relative;
  }

  .nav_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
  }

  .host_listing {
    width: 49%;
    float: right;
  }

  .map_wrapper {
    height: 100%;
    width: 50%;
  }

  .copyright {
    font-size: 0.6em;
    color: #FFF;
    margin: 0 auto;
    padding-bottom: 5px;
  }

}

@media all and (min-width: 900px) {
  .primary_title {
    font-size: 2.5em;
    position: absolute;
    left: 0px; bottom: -15px; right: 0px;
  }

  .primary_title h1 {
    max-width: 750px;
  }
}


#map-canvas {
  height: 100%;
  max-width: 100%;
  background-color: #CCC;
}

.current {
  color: #FFF;
}

.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
}
