html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #E6E6E6;
  font-family: arial, sans-serif;
  color: #5C5B5C;
}
