.contact_form {
  text-align: center;
  margin: 6% auto;
  height: 650px;
  padding: 30px 0;
  width: 420px;
  @media all and (min-width: 860px) {
    float: left;
    margin: 0 0 30px 15%;
  }
  @media all and (min-width: 1400px) {
    margin: 0 0 30px 23%;
  }
  @media all and (min-width: 1650px) {
    margin: 0 0 30px 25%;
  }
  input, textarea, select {
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    -moz-appearance: none;
    background: #F8F8F8;
    border: 1px solid #ECECEC;
    max-width: 350px;
    height: 65px;
    border-radius: 0px;
    padding: 0px 15px;
    font-size: 16px;
    width: 350px;
    vertical-align: middle;
    margin-right: -1%;
    margin-left: -3%;
    margin-bottom: 40px;
    outline: none; /*Removing this is normally bad for accessibility, unless you set another way of pointing out which input is in focus, which I do have */
  }
  input:focus, textarea:focus, select:focus {
    border: 2px solid #00CD9B;
  }
  textarea {
    font-family: inherit;
    padding: 15px;
    resize: none;
    line-height: 26px;
    min-height: 130px;
    max-width: 750px;
    width: 350px;
  }
  .submit {
    background: #3b3b3b;
    height: 80px;
    width: 170px;
    font-size: 1.5em;
    border: none;
    color: #FFF;
    cursor: pointer;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    transition: all 1s ease-in-out;
    &:hover {
      background: #00CD9B;
      color: #000;
    }
  }
}


.host_form {
  text-align: center;
  max-width: 400px;
  margin: 6% auto;
  height: 350px;
  border: 1px solid #DCE0E0;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  label {
    float: left;
  }
  .datepicker {
    max-width: 150px;
    height: 35px;
  }
  label.checkout {
    margin-top: -22px;
    margin-left: 20px;
  }
  .checkout {
    margin-left: 20px;
  }
  .checkin {
    clear: left;
  }
  input, textarea {
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    -moz-appearance: none;
    background: #F8F8F8;
    border: 1px solid #DCE0E0;
    max-width: 300px;
    height: 35px;
    border-radius: 0px;
    padding: 0px 15px;
    font-size: 16px;
    width: 100%;
    vertical-align: middle;
    float: left;
    margin-right: -1%;
    margin-bottom: 40px;
  }
  input:focus, textarea:focus {
    border: 2px solid #00CD9B;
  }
  textarea {
    font-family: inherit;
    padding: 15px;
    resize: none;
    line-height: 26px;
    min-height: 130px;
    max-width: 750px;
  }
  .submit {
    background: #3b3b3b;
    height: 30px;
    width: 80px;
    font-size: 1em;
    border: none;
    color: #FFF;
    cursor: pointer;
    float: left;
    clear: both;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    transition: all 1s ease-in-out;
    &:hover {
      background: #00CD9B;
      color: #000;
    }
  }
}

.response {
  margin: 0 auto;
}
