.primary_hero {
  background: url('/project1/assets/img/iceball.jpg'); /*Image created by me*/
  background-position: 49% -3%;
  background-repeat: no-repeat;
  background-attachment: fixed; /*CSS alternative to a JS parallax background, helps scoll performance of the site*/
  margin-top: -20px;
  position: relative;
  height: 350px;
}

.primary_hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000,#000);
    opacity: .15;
  }

.primary_title {
  width: 80%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  text-align: center;
  transition: all 0.5s ease;
  padding-top: 30px;
  color: #FFF;
}

.primary_title p {
  font-family: 'Abel', 'Georgia', sans-serif;
  // transform: rotate(-2.5deg);
  text-transform: uppercase;
  letter-spacing: 0.28em;
  max-width: 975px;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.3em;
  color: #FFF;
}

@media all and (min-width: 330px) {

  .primary_hero {
    background-position: 50% -10%;
  }

  .primary_title {
    height: 19%;
  }
}

@media all and (min-width: 400px) {

  .primary_hero {
    height: 550px;
  }

  .primary_title {
    width: 70%;
  }

}

@media all and (min-width: 590px) {

  .primary_title {
    width: 60%;
  }

  .primary_title p {
    font-size: 32px;
  }
}

@media all and (min-width: 800px) {
  .primary_hero {
    // background: url('/project1/assets/img/iceball.jpg'); /*Image created by me*/
    // background: url('/project1/assets/img/surfgirl.jpg');
    background-size: cover;
    background-position: top center;
  }
}
