.primary_hero {
  background: url('/project1/assets/img/iceball.jpg'); /*Image created by me*/
  background-position: 49% -3%;
  background-repeat: no-repeat;
  background-attachment: fixed; /*CSS alternative to a JS parallax background, helps scoll performance of the site*/
  margin-top: -20px;
  position: relative;
}

.primary_hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000,#000);
    opacity: .15;
  }

.primary_title {
  width: 80%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  text-align: center;
  transition: all 0.5s ease;
  padding-top: 30px;
  color: #FFF;
}

.primary_title h1 {
  font-family: 'goodfoot', sans-serif;
  transform: rotate(-2.5deg);
  text-transform: uppercase;
  font-size: 2.3em;
  color: #FFF;
}

.primary_title p {
  font-size: 13px;
  width: 260px;
  margin: 0 auto;
}

.headingBorder {
  text-align: center;
  width: 320px;
  height: 10px;
  margin: 30px auto;
  position: relative;
  color: #FFF;
}

.headingBorder span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #E1E1E1;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  position: absolute;
  margin-left: -5px;
}

.headingBorder span:before, .headingBorder span:after {
  border-top: 1px solid #E1E1E1;
  display: block;
  height: 1px;
  content: " ";
  width: 155px;
  position: absolute;
  left: -72px;
  top: 1px;
}

@media all and (min-width: 330px) {

  .primary_hero {
    background-position: 50% -10%;
  }

  .primary_title {
    height: 19%;
  }
}

@media all and (min-width: 400px) {

  .primary_title {
    font-size: 1.4em;
    width: 70%;
  }
}

@media all and (min-width: 590px) {

  .primary_title {
    font-size: 1.5em;
    width: 60%;
  }
}

@media all and (min-width: 800px) {
  .primary_hero {
    background: url('/project1/assets/img/iceball.jpg'); /*Image created by me*/
    background-size: cover;
    background-position: top center;
  }
}
