.host_profile_image {
  border-radius: 100%;
  width: 150px;
}

.host_header {
  width: 100%;
  border-bottom: 1px solid #C1C4C4;
  padding: 50px 26%;
  h2 {
    width: 150px;
    text-align: center;
    color: #999;
  }
  p {
    float: left;
    width: 150px;
    text-align: center;
  }
}

.host_contact_form {
  @media all and (min-width: 750px) {
    // position: absolute;
    // right: 29%;
    // top: 23%;
  }
}

.comment_image {
  border-radius: 100%;
  width: 100px;
}
