.host_vil {
  background-image: url('/project1/assets/img/galleries/vil1_thumb.png');
}

.host_jeg {
  background-image: url('/project1/assets/img/galleries/jeg1_thumb.jpg');
}

.host_ekl {
  background-image: url('/project1/assets/img/galleries/ekl1_thumb.jpg');
}

.host_ron {
  background-image: url('/project1/assets/img/galleries/ron1_thumb.jpg');
}

.host_osk {
  background-image: url('/project1/assets/img/galleries/osk1_thumb.jpg');
}

.host_arn {
  background-image: url('/project1/assets/img/galleries/arn1_thumb.jpg');
}

.host_profile {
  padding: 100px 0 0 10%;
  @include column(8);
}

.host_profile_image {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.host_name {
  width: 150px;
  text-align: center;
  color: #999;
}

.booking_request {
  @include column(2);
  margin-top: 150px;
}

.request_button {
  background: #3b3b3b;
  width: 200px;
  height: 55px;
  padding-top: 19px;
  &:hover {
    background: #00CD9B;
    color: #000;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

.comment_image {
  border-radius: 100%;
  width: 100px;
}

.listing_gallery {
  @include column(12);
  background: #000;
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    li {
      padding: 0 5px;
    }
  }
  img {
    width: 150px;
    border: 1px solid rgba(225, 225, 225, 0.0);
  }
  img:hover {
    border: 1px solid #00CD9B;
  }
}

@media all and (min-width: 700px) {
.host_header{
    padding: 50px 26%;
    p {
      float: left;
      width: 150px;
      text-align: center;
      margin-top: -25px;
    }
    :nth-child(3) {
      margin-left: 150px;
    }
  }
}
