.host_vil {
  background-image: url('/project1/assets/img/galleries/vil1_thumb.png');
}

.host_profile_image {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.host_header {
  width: 100%;
  border-bottom: 1px solid #C1C4C4;
  padding: 50px 6%;
  h2 {
    width: 150px;
    text-align: center;
    color: #999;
  }
}

@media all and (min-width: 700px) {
.host_header{
    padding: 50px 26%;
    p {
      float: left;
      width: 150px;
      text-align: center;
      margin-top: -25px;
    }
    :nth-child(3) {
      margin-left: 150px;
    }
  }
}


.comment_image {
  border-radius: 100%;
  width: 100px;
}
