main {
  min-height: 90%;
  @include column(12);
  height: auto;
  margin-top: 100px;
}

section {
  height: 450px;
  overflow: hidden;
}

article {
  width: 100%;
  margin: 0 auto;
  /*background: #2A2A2A;*/
  background: #FFF;
  padding: 20px 0;
}

aside {
  text-align: center;
}

header {
  background-color: #333;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  background-color: #1A1A1A;
  color: #666;
  padding-top: 20px;
  height: auto;
  margin-top: 258px;
  @include column(12);
}

.footer_wrapper {
  background-color: #2A2A2A;
  width: 90%;
  text-align: left;
  padding: 3px 20px;
  margin: 0 auto;
  color: #CCC;
  text-align: center;
}

.main_wrapper {
  padding: 15px;
  margin-top: 0px;
}

.secondary_wrapper {
  padding: 0px 20px 0 40px;
}

.inner_wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

@media all and (min-width: 330px) {
  section {
    height: 505px;
  }
}

@media all and (min-width: 590px) {

  section {
    height: 500px;
  }
}

@media all and (min-width: 700px) {
}
