header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 600;
  margin-bottom: 0px;
}

main {
  @include column(12);
  height: auto;
  padding-top: 63px;
  @media all and (min-width: 700px) {
    padding-top: 81px;
  }
}

main.host_profile_main_wrapper {
  padding-top: 0;
}

section.host_hero {
  min-height: 250px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  @media all and (min-width: 700px) {
      min-height: 380px;
  }
}

section {
  min-height: 450px;
  overflow: hidden;
}

article {
  width: 100%;
  margin: 0 auto;
  padding: 20px 5px;
}

aside {
  text-align: center;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  background-color: #D9D9D9;
  color: $footer-grey;
  padding-top: 20px;
  height: auto;
  margin-top: 258px;
  @include column(12);
}

.info_image_row {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  img {
    max-width: 99%;
  }
}

.hosts_photos {
  width: 101%;
  margin: 20px auto;
  text-align: center;
}

.hosts_photos a {
  padding-top: 150px; /*This is to accomodate the tooltips so they don't show off image*/
}

.hosts_photos img {
  max-width: 160px;
}

.contact_wrapper {
  width: 100%;
}

.footer_wrapper {
  width: 90%;
  padding: 3px 20px;
  margin: 0 auto;
  text-align: center;
}

.resources_wrapper {
  min-height: 85%;
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.vcard {
  text-align: left;
}

.hcard {
  width: 251px;
  margin: 0 auto;
  text-align: left;
  padding-left: 10px;
  height: 125px;
  margin-bottom: 20px;
  a {
    color: inherit;
  &:hover {
    text-decoration: underline;
  }
  }
}

.main_wrapper {
  padding: 15px 30px;
  margin-top: 0px;
}

.index_content {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 80px auto;
}

.info_wrapper {
  padding-top: 150px;
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.hosts_page {
  background: url('/project1/assets/img/hostbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  @media all and (min-width: 1500px) {
    min-height: 90%;
  }
  h1 {
    color: #FFF;
  }
}

.contact, .form_response_page {
  background: url('/project1/assets/img/contactbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form_response_page {
  min-height: 85%;
}

.form_response_wrapper {
  width: 60%;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

.homepage_content_item {
  width: 28%;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.inner_info_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5px;
  h2 {
    font-size: 28px;
    margin: 0;
    padding: 25px 0;
  }
  h3 {
    padding: 10px 0;
    margin-left: 15px;
  }
}

.l_index_content {
  @include column(5);
}

@media all and (min-width: 330px) {
  section {
    min-height: 505px;
  }
}

@media all and (min-width: 590px) {

  section {
    min-height: 500px;
  }
}
