.list_neutral {
  display: block;
  list-style: none;
  padding: 0 0 0 5px;
}

.host_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 30px auto;
}

.host_card {
  width: 300px;
  height: 150px;
  background: #00CD9B;
  // display: flex;
  margin: 10px 5px 0 5px;
}

// .host_listing > li > a {
//   text-decoration: none;
//   color: inherit;
//   position: relative;
//   display: block;
// }
//
// .host_listing > li > a:after {
//   font-family: arial; /*Different font in order to display the icon*/
//   content: "ᐳ";
//   position: absolute;
//   top: 30px; right: 30px;
// }
//
// .listing_row {
//   border-bottom: 1px solid #5C5B5C;
//   padding-bottom: 20px;
//   height: 100px;
// }
//
// .listing_row > a > img {
//   float: left;
//   clear: left;
//   margin-right: 10px;
// }

@media all and (min-width: 400px) {

  // .host_listing > li > a:after {
  //   font-family: arial; /*Different font in order to display the icon*/
  //   content: "ᐳ";
  //   position: absolute;
  //   top: 30px; right: 100px;
  // }
}

@media all and (min-width: 700px) {
  // .host_listing {
  //   width: 49%;
  //   float: right;
  // }
}
