.list_neutral {
  display: block;
  list-style: none;
  padding: 0 0 0 5px;
}

.host_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // max-width: 1000px;
  margin: 10% auto;
}

.host_card {
  width: 300px;
  height: 150px;
  // background: #3b3b3b;
  // display: flex;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 10px 0 10px;
  box-shadow: 5px 5px 10px #999;
  text-align: center;
  color: #FFF;
  img {
    border-radius: 100%;
    width: 110px;
    margin: 10px auto 0;
    display: block;
    @media screen and (min-width: 700px) {
      margin-top: 20px;
      width: 135px;
    }
  }
  @media screen and (min-width: 400px) {
    width: 400px;
    height: 250px;
  }
  @media screen and (min-width: 700px) {
    width: 500px;
    height: 250px;
  }

  &:hover {
    .hideOnHover {
      display: none;
    }
    .showOnHover {
      display: block;
    }
  }
}

// .host_listing > li > a {
//   text-decoration: none;
//   color: inherit;
//   position: relative;
//   display: block;
// }
//
// .host_listing > li > a:after {
//   font-family: arial; /*Different font in order to display the icon*/
//   content: "ᐳ";
//   position: absolute;
//   top: 30px; right: 30px;
// }
//
// .listing_row {
//   border-bottom: 1px solid #5C5B5C;
//   padding-bottom: 20px;
//   height: 100px;
// }
//
// .listing_row > a > img {
//   float: left;
//   clear: left;
//   margin-right: 10px;
// }

@media all and (min-width: 700px) {
  // .host_listing {
  //   width: 49%;
  //   float: right;
  // }
}
