.list_neutral {
  display: block;
  list-style: none;
  padding: 0 0 0 5px;
  li {
    position: relative;
  }
}

.host_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% auto;
  width: 90%;
}

.host_card_call-to-action {
  background: rgba(0, 0, 0, 0.75);
  // display: none;
  border-radius: 100%;
  width: 111px;
  height: 111px;
  margin: 10px auto 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  p {
    width: 75px;
    text-align: center;
    margin: 35px auto;
  }
  @media screen and (min-width: 700px) {
    margin-top: 20px;
    width: 136px;
    height: 136px;
  }
}

.host_card {
  width: 300px;
  height: 150px;
  margin: 10px 10px 0 10px;
  text-align: center;
  position: relative;
  color: #FFF;

  @media screen and (min-width: 400px) {
    width: 400px;
    height: 250px;
  }
  @media screen and (min-width: 700px) {
    width: 500px;
    height: 250px;
  }

  &:hover {
    .showOnHover {
      opacity: 1;
    }
  }
}

// .host_listing > li > a {
//   text-decoration: none;
//   color: inherit;
//   position: relative;
//   display: block;
// }
//
// .host_listing > li > a:after {
//   font-family: arial; /*Different font in order to display the icon*/
//   content: "á³";
//   position: absolute;
//   top: 30px; right: 30px;
// }
//
// .listing_row {
//   border-bottom: 1px solid #5C5B5C;
//   padding-bottom: 20px;
//   height: 100px;
// }
//
// .listing_row > a > img {
//   float: left;
//   clear: left;
//   margin-right: 10px;
// }

@media all and (min-width: 700px) {
  // .host_listing {
  //   width: 49%;
  //   float: right;
  // }
}
