.map_wrapper {
  height: 300px;
}

.map_wrapper img { /*this is required to override img max-width of 100% because it messes up the google maps and looks broken*/
  max-width: none;
}

#map-canvas {
  height: 100%;
  max-width: 100%;
  background-color: #CCC;
}

#instafeed {
  max-width: 90%;
  text-align: center;
  margin: 0 auto 20px;
  a {
    padding: 0 5px;
  }
}
