h1, h2, h3, h4 {
  font-family: 'Abel', arial; /*Fallback font*/
  line-height: 1.25;
  letter-spacing: -1px;
  color: #666366;
  margin: 0;
}

h2 {
}

a {
  text-decoration: none;
  color: #FFF;
}

article > p, article h2 {
  padding: 0 25px;
  max-width: 95%;
  margin: 0 auto;
}

p {
  line-height: 25px;
}

footer a {
  color: $footer-grey;
}

.homepage_content_item:hover h2, .homepage_content_item:focus h2 {
  color: #00CD9B;
  transition: all 0.5s ease-in-out;
}

.color_transition a:hover, .color_transition a:focus {
  color: #00CD9B;
  transition: color 0.75s ease 0s;
}

.homepage_content_item a {
  color: #5C5B5C;
}

.homepage_content_item h2 {
  font-size: 2.25em;
  line-height: 1.3em;
}

.homepage_content_item p {
  text-align: left;
  text-indent: 40px;
}

.current, a.faq_current {
  color: #00CD9B;
}

@media all and (min-width: 700px) {

  .current:after {
    border-color: #00CD9B;
    height: 87%;
  }
}
