h1, h2, h3, h4 {
  font-family: 'Abel', arial; /*Fallback font*/
  line-height: 1.25;
  letter-spacing: -1px;
  color: #666366;
  margin: 0;
}

h2 {
}

a {
  text-decoration: none;
  color: #FFF;
}

article > p, article h2 {
  padding: 0 25px;
  max-width: 95%;
  margin: 0 auto;
}

p {
  line-height: 25px;
}

footer a {
  color: $footer-grey;
  position: relative;
  padding: 0 10px;
}

@media all and (min-width: 600px) {
  .cl-effect-14 a {
    /*This effect was adapted from: http://tympanus.net/Development/CreativeLinkEffects/ */
    height: 45px;
    line-height: 45px;
    margin-left: -4px;
  }

  .cl-effect-14 a:nth-child(6) {
    margin-left: 0px;
  }

  .cl-effect-14 a::before,
  .cl-effect-14 a::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background: $footer-grey;
    opacity: 0;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
  }

  .cl-effect-14 a::before {
    top: -17px;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .cl-effect-14 a::after {
    right: 0;
    bottom: -11px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }

  .cl-effect-14 a:hover::before,
  .cl-effect-14 a:hover::after,
  .cl-effect-14 a:focus::before,
  .cl-effect-14 a:focus::after {
    background: #00CD9B;
    opacity: 1;
  }

  .cl-effect-14 a:hover::before,
  .cl-effect-14 a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
  }

  .cl-effect-14 a:hover::after,
  .cl-effect-14 a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
  }
}

.homepage_content_item:hover h2, .homepage_content_item:focus h2 {
  color: #00CD9B;
  transition: all 0.5s ease-in-out;
}

.color_transition a:hover, .color_transition a:focus {
  color: #00CD9B;
  transition: color 0.75s ease 0s;
}

.homepage_content_item a {
  color: #5C5B5C;
}

.homepage_content_item h2 {
  font-size: 2.25em;
  line-height: 1.3em;
}

.homepage_content_item p {
  text-align: left;
  text-indent: 40px;
}

.current, a.faq_current {
  color: #00CD9B;
}

@media all and (min-width: 700px) {

  .current:after {
    border-color: #00CD9B;
    height: 87%;
  }
}
