.copyright {
  font-size: 0.6em;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 5px;
}

.content_width {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  @media all and (min-width: 500px) {
    width: 50%;
  }
}

.blockquote_wrapper {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}

blockquote {
  quotes: "\201C""\201D";
  text-align: left;
  padding: 15px 30px 0 30px;
  position: relative;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position: absolute;
  left: 5px;
  top: 50px;
}
blockquote p {
  font-style: italic;
}

.has_tooltip {
  position: relative;
}

.tooltip {
  display: none;
}

@media all and (min-width: 1000px) { /*These particular tooltips only work in a larger screen size because there's an issue with the tooltips appearing in the wrong place when one image gets dropped to the lower row*/
  .hosts_photos a:hover > .tooltip {
    display: block;
  }

  /*Tooltip CSS based on code from http://csstooltip.com/ */
  .tooltip {
    position: absolute;
    top: 0;
    left: 27px;
    width: 110px;
    height: 65px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: rgb(113, 157, 171);
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
  }

  .tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
    top: 61px;
    left: 40px;
  }
}

.button {
  background: #3b3b3b;
  width: 150px;
  height: 55px;
  padding-top: 19px;
  text-align: center;
  &:hover {
    background: #00CD9B;
    color: #000;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.showOnHover {
  opacity: 0;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.quarter_transparent {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 10px #999;
}

.half_transparent {
  background: rgba(255, 255, 255, 0.8);
}

.host_image {
  border-radius: 100%;
  width: 110px;
  margin: 10px auto 0;
  display: block;
  @media screen and (min-width: 700px) {
    margin-top: 20px;
    width: 135px;
  }
}

.forecast {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.twitter_feed {
  width: 100%;
  float: right;
  margin-right: 10px;
  @media all and (min-width: 860px) {
    @include column(3);
    margin: 0 0 20px 20px;
  }
  iframe {
    height: 600px;
    max-height: 600px;
  }
}

header, .header {
  transition: transform 220ms linear;
}

.animated.slideDown {
    animation-name: slideDown;
    transform: translateY(0%);
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.animated.slideUp {
    animation-name: slideUp;
    transform: translateY(-100%);
}

.header.animated.slideUp {
  animation-name: slideUp;
  transform: translateY(-350%);
}

main:before,
main:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

main:after {
    clear: both;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.table_wrapper_left, .table_wrapper_right {
  background: #FFF;
  border-radius: 15px;
  padding: 15px;
  max-width: 385px;
  margin: 20px auto;
}

@media all and (min-width: 1640px) {
  .table_wrapper_left {
    float: left;
    margin-left: 3%;
  }
  .table_wrapper_right {
    float: left;
    margin-left: 2%;
  }
}

@media all and (min-width: 1760px) {
  .table_wrapper_left {
    margin-left: 9%;
  }
  .table_wrapper_right {
    margin-left: 2%;
  }
}

table {
  border-collapse: collapse;
  background: lavenderblush;
}

.table_header {
  width: 100%;
  text-align: center;
}

td, th {
  border: 5px solid ghostwhite;
  padding: 0.3rem;
  text-align: center;
}

td {
  color: #000;
}

#chart {
  cursor: pointer;
}

.wind-speed-0,
.wind-speed-5,
.wind-speed-10,
.wind-speed-15,
.wind-speed-20 { background-color: rgb(153, 255, 0); }

.wind-speed-25 { background-color: rgb(221, 255, 0); }

.wind-speed-30 { background-color: rgb(255, 204, 0); }

.wind-speed-35 { background-color: rgb(255, 153, 0); }

.wind-speed-40,
.wind-speed-45 { background-color: rgb(255, 34, 0); }

.wind-speed-50,
.wind-speed-55, { background-color: rgb(255, 0, 119); }

.wind-speed-60,
.wind-speed-65 { background-color: rgb(255, 0, 238); }



.msw-ssa,
.msw-swa /* Wind arrows */
{
    display:            inline-block;
    width:              26px;
    height:             26px;
    background:         url("http://im-1.msw.ms/md/static/wa-sprite.png") no-repeat top left;
}
.msw-ssa-10{ background-position: 0 0; width: 26px; height: 26px; }
.msw-ssa-100{ background-position: 0 -52px; width: 26px; height: 26px; }
.msw-ssa-105{ background-position: 0 -104px; width: 26px; height: 26px; }
.msw-ssa-110{ background-position: 0 -156px; width: 26px; height: 26px; }
.msw-ssa-115{ background-position: 0 -208px; width: 26px; height: 26px; }
.msw-ssa-120{ background-position: 0 -260px; width: 26px; height: 26px; }
.msw-ssa-125{ background-position: 0 -312px; width: 26px; height: 26px; }
.msw-ssa-130{ background-position: 0 -364px; width: 26px; height: 26px; }
.msw-ssa-135{ background-position: 0 -416px; width: 26px; height: 26px; }
.msw-ssa-140{ background-position: 0 -468px; width: 26px; height: 26px; }
.msw-ssa-145{ background-position: 0 -520px; width: 26px; height: 26px; }
.msw-ssa-15{ background-position: 0 -572px; width: 26px; height: 26px; }
.msw-ssa-150{ background-position: 0 -624px; width: 26px; height: 26px; }
.msw-ssa-155{ background-position: 0 -676px; width: 26px; height: 26px; }
.msw-ssa-160{ background-position: 0 -728px; width: 26px; height: 26px; }
.msw-ssa-165{ background-position: 0 -780px; width: 26px; height: 26px; }
.msw-ssa-170{ background-position: 0 -832px; width: 26px; height: 26px; }
.msw-ssa-175{ background-position: 0 -884px; width: 26px; height: 26px; }
.msw-ssa-180{ background-position: 0 -936px; width: 26px; height: 26px; }
.msw-ssa-185{ background-position: 0 -988px; width: 26px; height: 26px; }
.msw-ssa-190{ background-position: 0 -1040px; width: 26px; height: 26px; }
.msw-ssa-195{ background-position: 0 -1092px; width: 26px; height: 26px; }
.msw-ssa-20{ background-position: 0 -1144px; width: 26px; height: 26px; }
.msw-ssa-200{ background-position: 0 -1196px; width: 26px; height: 26px; }
.msw-ssa-205{ background-position: 0 -1248px; width: 26px; height: 26px; }
.msw-ssa-210{ background-position: 0 -1300px; width: 26px; height: 26px; }
.msw-ssa-215{ background-position: 0 -1352px; width: 26px; height: 26px; }
.msw-ssa-220{ background-position: 0 -1404px; width: 26px; height: 26px; }
.msw-ssa-225{ background-position: 0 -1456px; width: 26px; height: 26px; }
.msw-ssa-230{ background-position: 0 -1508px; width: 26px; height: 26px; }
.msw-ssa-235{ background-position: 0 -1560px; width: 26px; height: 26px; }
.msw-ssa-240{ background-position: 0 -1612px; width: 26px; height: 26px; }
.msw-ssa-245{ background-position: 0 -1664px; width: 26px; height: 26px; }
.msw-ssa-25{ background-position: 0 -1716px; width: 26px; height: 26px; }
.msw-ssa-250{ background-position: 0 -1768px; width: 26px; height: 26px; }
.msw-ssa-255{ background-position: 0 -1820px; width: 26px; height: 26px; }
.msw-ssa-260{ background-position: 0 -1872px; width: 26px; height: 26px; }
.msw-ssa-265{ background-position: 0 -1924px; width: 26px; height: 26px; }
.msw-ssa-270{ background-position: -52px 0; width: 26px; height: 26px; }
.msw-ssa-275{ background-position: -52px -52px; width: 26px; height: 26px; }
.msw-ssa-280{ background-position: -52px -104px; width: 26px; height: 26px; }
.msw-ssa-285{ background-position: -52px -156px; width: 26px; height: 26px; }
.msw-ssa-290{ background-position: -52px -208px; width: 26px; height: 26px; }
.msw-ssa-295{ background-position: -52px -260px; width: 26px; height: 26px; }
.msw-ssa-30{ background-position: -52px -312px; width: 26px; height: 26px; }
.msw-ssa-300{ background-position: -52px -364px; width: 26px; height: 26px; }
.msw-ssa-305{ background-position: -52px -416px; width: 26px; height: 26px; }
.msw-ssa-310{ background-position: -52px -468px; width: 26px; height: 26px; }
.msw-ssa-315{ background-position: -52px -520px; width: 26px; height: 26px; }
.msw-ssa-320{ background-position: -52px -572px; width: 26px; height: 26px; }
.msw-ssa-325{ background-position: -52px -624px; width: 26px; height: 26px; }
.msw-ssa-330{ background-position: -52px -676px; width: 26px; height: 26px; }
.msw-ssa-335{ background-position: -52px -728px; width: 26px; height: 26px; }
.msw-ssa-340{ background-position: -52px -780px; width: 26px; height: 26px; }
.msw-ssa-345{ background-position: -52px -832px; width: 26px; height: 26px; }
.msw-ssa-35{ background-position: -52px -884px; width: 26px; height: 26px; }
.msw-ssa-350{ background-position: -52px -936px; width: 26px; height: 26px; }
.msw-ssa-355{ background-position: -52px -988px; width: 26px; height: 26px; }
.msw-ssa-40{ background-position: -52px -1040px; width: 26px; height: 26px; }
.msw-ssa-45{ background-position: -52px -1092px; width: 26px; height: 26px; }
.msw-ssa-5{ background-position: -52px -1144px; width: 26px; height: 26px; }
.msw-ssa-50{ background-position: -52px -1196px; width: 26px; height: 26px; }
.msw-ssa-55{ background-position: -52px -1248px; width: 26px; height: 26px; }
.msw-ssa-60{ background-position: -52px -1300px; width: 26px; height: 26px; }
.msw-ssa-65{ background-position: -52px -1352px; width: 26px; height: 26px; }
.msw-ssa-70{ background-position: -52px -1404px; width: 26px; height: 26px; }
.msw-ssa-75{ background-position: -52px -1456px; width: 26px; height: 26px; }
.msw-ssa-80{ background-position: -52px -1508px; width: 26px; height: 26px; }
.msw-ssa-85{ background-position: -52px -1560px; width: 26px; height: 26px; }
.msw-ssa-90{ background-position: -52px -1612px; width: 26px; height: 26px; }
.msw-ssa-95{ background-position: -52px -1664px; width: 26px; height: 26px; }
