.copyright {
  font-size: 0.6em;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 5px;
}

.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.enlarge:hover {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
  box-shadow: none;
}

.showOnHover {
  opacity: 0;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.quarter_transparent {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 10px #999;
}

.half_transparent {
  background: rgba(255, 255, 255, 0.8);
}

.forecast {
  max-width: 800px;
  margin: 0 auto;
}

header {
  transition: transform 150ms linear;
}

.animated.slideDown {
    animation-name: slideDown;
    transform: translateY(0%);
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.animated.slideUp {
    animation-name: slideUp;
    transform: translateY(-100%);
}

main:before,
main:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

main:after {
    clear: both;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
